doctype mobile
html
  head
    meta(charset='utf-8')
    title=title
  body
    p=title
    img(src='hoge/fuga1.png')
    img(src='hoge/fuga2.png')
    img(src='hoge/fuga3.png')
    img(src='hoge/fuga4.png')